
body{
  width:100vw;
  height: 100vh;
  overflow-x:hidden;
}

#line {
  background: #0EB536 !important;
  width: 150px !important;
  height: 5px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

#background {
  position: absolute;
  top: 0;
  left:0;
}

#background p {
  font-size: 18px;
  font-family: noh-sori, sans-serif !important;
  font-style: normal !important;
  animation-name: example;
  animation-duration: 4s;
  color: grey;
  z-index: -1;
}

/* @keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
} */

#profile-container{
  display: flex;
  justify-content:center;
  align-items:center;
  background:#191B1B;
  color: white;
  height: 100vh;
  width: 100vw;
}

#myName {
  padding-bottom: 20px;
  text-align: center;
}

#myName h1 {
  font-family: noh-sori, sans-serif !important;
  font-style: normal !important;
  z-index: 1;
}

#title {
  font-weight: bold  
}

/* CSS */
#btn-resume1 {
  background-color: initial;
  transition: transform 250ms;
  border-radius:20px;
  margin-top:80px;
  width: 208px;
  height: 48px;
  background-image: linear-gradient(-180deg, #0EB536, #0ea130);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  width: 208px;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  border: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  font-family: quicksand, sans-serif;
}

#btn-resume1:hover{
  transition: all 0.4s ease-out !important;
  top: -1px !important;
  transform: scale(1.05) !important;
}

#aboutMe {
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
 
}



#techTitle{
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  
}

#projects {
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  
}


#text h3{
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}


#social-icons{
 width: 200px;
 margin-right: auto;
 margin-left: auto;
 justify-content: center;
}

#image-card-0{
  border-radius: 15px 15px 15px 15px;
  height: 20vh;
  background-image: url('./assets/mail.jpg');
  background-position: center;
  background-size: cover;
  z-index: -1;

}


#image-card-1{
  border-radius: 15px 15px 15px 15px;
  height: 20vh;
  background-image: url('./assets/money.jpg');
  background-position: center;
  background-size: cover;
  z-index: -1;

}

#image-card-2{
  border-radius: 15px 15px 15px 15px;
  height: 20vh;
  background-image: url('./assets/pizza.webp');
  background-position: center;
  background-size: cover;
  z-index: -1;

}

#image-card-3{
  border-radius: 15px 15px 15px 15px;
  height: 20vh;
  background-image: url('./assets/keyLock.webp');
  background-position: center;
  background-size: cover;
  z-index: -1;
  
}

#image-card-4{
  border-radius: 15px 15px 15px 15px;
  height: 20vh;
  background-image: url('./assets/checkmarks.webp');
  background-position: center;
  background-size: cover;
  z-index: -1;

}



#card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    height: 750px;
    margin-top: 70px;
    border-radius: 15px 15px 15px 15px;
    padding: 20px;
    margin: 20px;

}

 #codeImage{
   background-color: transparent !important;
   transition: transform 250ms;
 }

  #codeImage:hover{
    transition: all 0.4s ease-out !important;
    top: -4px !important;
    transform: scale(1.15) !important;
  }

#gitBtn{
  background: #0EB536;
  width: 88px;
  height: 48px;
  border: none;
  border-radius:10px;
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: white;
  transition: transform 250ms;
  outline: 0;
}

#gitBtn:hover{
  transition: all 0.4s ease-out !important;
  top: -4px !important;
  transform: scale(1.05) !important;
}

#container {
  margin: auto;
  text-align: center;
  width: 250px;
  height: 200px;
}

#p {
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

  html {
    font-size: 16px;
  }

  #Technolgies{
    padding-bottom: 50px;
  }

  #techTitle{
    animation-duration: 3s;
    animation-name: slidein1;
  }


  #AboutMe{
    padding: 50px;
  } 
  

  .tech img{
    animation-name: images;
    animation-duration: 4s;
    animation-timing-function: ease-out; 
    animation-delay: 0.1;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
  }


  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }

  @media screen and (min-width: 1080px){

    #AboutMe{
      height: 100vh;
      width: 100vw;
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    #Technolgies{
      width:100vw;
      height: 100vh;
    }

    #me {
      margin-bottom: 180px;
    }

    #image{
      width: 400px;
    }
  }


  @media screen and (min-width: 900px) {
    #profile-container{
      width: 50vw;
    }
    
    #AboutMe {
      width: 50vw;
    }
   
    #body{
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      align-items: center;
      flex-wrap: wrap;
    }

    #btn-resume{
      display: none;
    }

    #line {
      background: #0EB536 !important;
      width: 150px !important;
      height: 5px !important;
      margin-right: auto !important;
      margin-left: auto !important;
    }

    #btn-container {
      justify-content: center;
    }

    #text{
      padding: 10px;
    }
    #text h3{
      text-align: left;
    }

  
  }


@media screen and (max-width: 465px){
  .tech img{
    width: 30px;
  }

  #btn-resume1{
    font-size: 15px;
    border: 1px solid blue;
  }


}

@media screen and (max-width: 300px) {
  #redux {
    width: 80%;
    height: 80%;
  }

  #btn-resume1{
    border: 1px solid red;
  }

}

