
body{
  width:100vw;
  height: 100vh;
}

#line {
  background: #0EB536 !important;
  width: 150px !important;
  height: 5px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

#profile-container{
  display: flex;
  justify-content:center;
  align-items:center;
  background:#191B1B;
  color: white;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#myName {
  padding-bottom: 20px;
  text-align: center;

}

#myName h1 {
  font-family: noh-sori, sans-serif !important;
  font-style: normal !important;
  
}
#title {
  font-weight: bold  
}

#btn-resume1{
  background: #0EB536;
  width: 208px;
  height: 48px;
  border: none;
  border-radius:10px;
  margin-top:80px;
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: white;
}

#aboutMe {
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
}

#techTitle{
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
}

#projects {
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
}


#text h3{
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}


#social-icons{
 width: 200px;
 margin-right: auto;
 margin-left: auto;
 justify-content: center;
}


#card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 400px;
    margin-top: 70px;
    border-radius: 5px; /* 5px rounded corners */
    z-index: 0;
    overflow: hidden;

}

 #codeImage{
   background-color: transparent !important;
 }

  #codeImage:hover{
    transition: all 0.4s ease-out !important;
    top: -4px !important;
    transform: scale(1.15) !important;
  }

#gitBtn{
  background: #0EB536;
  width: 108px;
  height: 48px;
  border: none;
  border-radius:10px;
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: white;
}


#container {
  border: 1px solid red;
  margin: auto;
  text-align: center;
  width: 250px;
  height: 200px;
}

#p {
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

  html {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }

  @media screen and (min-width: 1080px){

    #AboutMe{
      height: 100vh;
      width: 100vw;
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    #Projects{
      width:100vw;
      height: 100vh;
    }

  

    #me {
      margin-bottom: 180px;
    }

    #image{
      width: 400px;
    }
  }

  @media screen and (min-width: 900px) {
    #profile-container{
      width: 50vw;
    }
    
    #AboutMe {
      width: 50vw;
    }

   

    #body{
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      align-items: center;
      flex-wrap: wrap;
    }

    #btn-resume{
      display: none;
    }

    #btn-resume1{
      background: #0EB536;
      width: fit-content;
      height: 48px;
      border: none;
      border-radius:10px;
      margin-top:80px;
      font-family: quicksand, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: white;
    }


    #line {
      background: #0EB536 !important;
      width: 150px !important;
      height: 5px !important;
      margin-right: auto !important;
      margin-left: auto !important;
    }

    #btn-container {
      justify-content: center;
    }

    #text{
      padding: 10px;
    }
    #text h3{
      text-align: left;
    }

  
  }


@media screen and (max-width: 465px){
  .tech img{
    width: 30px;
  }

  #btn-resume1{
    font-size: 15px;
  }


}

@media screen and (max-width: 300px) {
  #redux {
    width: 80%;
    height: 80%;
  }
}

